<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Venta</title>
    <!-- Usamos Bootstrap y FontAwesome -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      /* Cambia el color de los enlaces en el hover */
      .navbar-nav .nav-link:hover {
        color: #a85248; /* Cambia el color del texto al rosa */
      }
      .btn-outline-light:hover {
        background-color: #781c1e; /* Cambia el fondo del botón al rosa */
        color: black; /* Cambia el texto a negro */
      }
      .table-custom {
          background-color: #781c1e !important;
          color: #ffffff !important;
      }
    .navbar-brand:hover {
        color: #a85248; /* El color de hover (puedes cambiarlo si lo deseas) */
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'menuopciones' %}">Inicio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- OPCIONES QUE HAY EN LA NAV BAR -->
          {% if user.usuario.rol == 'Propietaria' %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productos' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ventas' %}">Ventas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vendedores' %}">Usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ingresos' %}">Estadísticas</a>
            </li>
          </ul>
          <div class="d-flex">
            <!-- Solo mostrar esta opción en el html de productos -->
            {% if request.path == '/productos/listado/' %}  
            <!-- (Aqui se debe cambiar la url en donde se quiere mostrar) -->
              <a class="btn btn-outline-light btn-sm me-2" href="{% url 'registrarcategoria' %}">Agregar Categoria</a>
              <!-- Aqui se debe cambiar la url del href dependiendo de donde queremos redirigirnos -->
            </li>
            {% endif %}
            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productos' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ventas' %}">Ventas</a>
          </ul>
          <div class="d-flex">
            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container my-4">
      <!-- Título -->
      <h1 class="mt-4 mb-4">Registrar Venta</h1>

      <!-- Card del formulario -->
      <div class="card">
        <div class="card-header">
          <i class="fas fa-shopping-cart me-1"></i> Registrar Venta
        </div>
        <div class="card-body bg-light">
          <!-- Mensaje de error -->
          {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endif %}

          <!-- Formulario de venta -->
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Datos de la Venta -->
            <h2 class="mt-4">Datos de la Venta</h2>
            <div class="mb-4">{{ venta_form.as_p }}</div>

            <!-- Detalles de Productos -->
            <h2 class="mt-4">Detalles de Productos</h2>
            {{ detalle_formset.management_form }}

            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody id="detalle-venta-formset">
                {% for form in detalle_formset %}
                <tr class="detalle-form-row">
                  <td>{{ form.producto }}</td>
                  <td>{{ form.cantidad }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <!-- Botones de acción -->
            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'ventas' %}" class="btn btn-danger">Cancelar</a>
              <button type="button" class="btn btn-dark" id="agregar-producto">
                Agregar Producto
              </button>
              <button type="submit" class="btn btn-success">
                Registrar Venta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
      document
        .getElementById("agregar-producto")
        .addEventListener("click", function () {
          var formCount = document.getElementById("id_form-TOTAL_FORMS");
          var currentFormCount = parseInt(formCount.value);

          // Clonar el primer formulario
          var formRow = document.querySelector(".detalle-form-row");
          var newFormRow = formRow.cloneNode(true);

          // Actualizar los índices de los formularios
          newFormRow
            .querySelectorAll("input, select")
            .forEach(function (input) {
              // Actualizar name
              var name = input.getAttribute("name");
              var newName = name.replace("-0-", "-" + currentFormCount + "-");
              input.setAttribute("name", newName);

              // Actualizar id
              var newId = "id_" + newName; // Usamos el mismo nuevo índice para id
              input.setAttribute("id", newId);

              // Limpiar el valor para el nuevo formulario
              input.value = "";
            });

          // Insertar el nuevo formulario
          document
            .getElementById("detalle-venta-formset")
            .appendChild(newFormRow);

          // Actualizar el campo TOTAL_FORMS
          formCount.value = currentFormCount + 1;
        });
    </script>
  </body>
</html>
