<!DOCTYPE html>
{% load static %} {% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo }}</title>
    <!-- Usamos el título dinámico -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- FontAwesome para iconos -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      /* Cambia el color de los enlaces en el hover */
      .navbar-nav .nav-link:hover {
        color: #a85248; /* Cambia el color del texto al rosa */
      }
      .btn-outline-light:hover {
        background-color: #781c1e; /* Cambia el fondo del botón al rosa */
        color: black; /* Cambia el texto a negro */
      }
      .table-custom {
          background-color: #781c1e !important;
          color: #ffffff !important;
      }
    .navbar-brand:hover {
        color: #a85248; /* El color de hover (puedes cambiarlo si lo deseas) */
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'menuopciones' %}">Inicio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- OPCIONES QUE HAY EN LA NAV BAR -->
        {% if user.usuario.rol == 'Propietaria' %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas' %}">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vendedores' %}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ingresos' %}">Estadísticas</a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
        {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ventas' %}">Ventas</a>
          </li>
        </ul>
        <div class="d-flex">
          </li>
          <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>

    <div class="container my-4">
      <!-- Título -->
      <h1 class="mt-4 mb-4">{{ titulo }}</h1>
      <!-- Usamos el título dinámico -->

      <!-- Card del formulario -->
      <div class="card">
        <div class="card-header">
          <i class="{{ icono }} me-1"></i> {{ titulo }}
          <!-- Usamos el título dinámico -->
        </div>
        <div class="card-body bg-light">
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Campos del formulario -->
            {% for field in form %}
            <div class="mb-2">
              <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
              </label>
              {{ field|add_class:"form-control" }}

              <!-- Errores del campo -->
              {% for error in field.errors %}
              <div class="text-danger small">{{ error }}</div>
              {% endfor %}
            </div>
            {% endfor %}

            <!-- Errores no relacionados a campos específicos -->
            {% for error in form.non_field_errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}

            <!-- Botones -->
            <button type="submit" class="btn btn-success mt-3">Guardar</button>
            <a href="{% url 'categorias' %}" class="btn btn-danger mt-3"
              >Cancelar</a
            >
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
