<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  </head>
  <body class="container mt-4">
    <!-- Logo de la empresa -->
    <div class="mb-4 text-center">
      <img
        src="{% static 'TR.png' %}"
        alt="Logo de la empresa"
        style="width: 250px; height: auto"
      />
    </div>

    {% if user.is_authenticated %}
    <div class="d-flex flex-column align-items-center">
      <a
        href="{% url 'menuopciones' %}"
        class="btn btn-dark text-center w-25 mb-3 py-3 rounded-pill"
      >
        <strong>Menu Principal</strong>
      </a>
      <a
        href="{% url 'logout' %}"
        class="btn btn-danger text-center w-25 mb-3 py-3 rounded-pill"
      >
        <strong>Cerrar Sesión</strong>
      </a>
    </div>
    {% else %}
    <!-- Mensaje de bienvenida -->
    <div class="text-center mb-4">
      {% if messages %} {% for message in messages%}
      <div
        class="alert alert-success alert-dismissible fade show w-50 mx-auto"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
          data-bs-dismiss="alert"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %} {% endif %}
      <h1 class="display-4"><strong>¡Bienvenido!</strong></h1>
      <p class="lead"><strong>¿Cómo deseas ingresar?</strong></p>
    </div>

    <!-- Opciones de ingreso apiladas -->
    <div class="d-flex flex-column align-items-center">
      <a
        href="{% url 'login' %}"
        class="btn btn-dark text-center w-25 mb-3 py-3 rounded-pill"
      >
        <strong>Propietario</strong>
      </a>
      <a href="{% url 'login' %}" class="btn btn-dark text-center w-25 mb-3 py-3 rounded-pill">
        <strong>Vendedor(a)</strong>
      </a>
    </div>
    {% endif %}
    <!-- Cargar Bootstrap JS desde el static -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
